/* 
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
*/



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Secular+One&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

header {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #18d9d8 1.18%, #006eff 100%);
    color: white;
}

.header-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

h1 {
    font-family: 'Secular One', sans-serif;
    font-size: 1.5rem;
}

.subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    flex: 1;
}

.sassy-icon {
    width: 3em;
}